.cp_embed_wrapper {
	margin-left: calc(40% - 40vw);
    margin-right: calc(40% - 40vw);
}

.article-post {
	padding-top: 1em;
	padding-bottom: 1em;
	max-width: 720px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 1.05em;
	margin: 0 auto;
	line-height: 1.65em;

	@media (max-width: 700px) {
		font-size: .9em;
	}

	img {
		display: block;
		margin: 0 auto;
		max-width: 100%;
    	height: auto;
	}

	a:not(.meta-link) {
		background-color: #e16464;
		text-decoration: none;
		display: inline-block;
		padding: 0 3px;
		color: white;
		font-weight: bold;
		transition: .2s background-color linear;

		&:hover {
			background-color: #00ffdc;
		}

		&:visited {
			color: gray;
    		background-color: #c4c1c1;
		}
	}
}

.meta {
	font-size: .75em;
	margin-top: 1em;
	color: #333;
	border-top: solid 3px;
}

.meta-link {
	color: #1d586a;
}