.main-header {
	background-color: #1d586a;
	overflow: hidden;
	color: #fff;

	.site-container {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
    	align-items: baseline;
	}

	h1 {

		@media (max-width: 700px) {
    		font-size: 1.25em;
    	}
	}

}