@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

html {
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
	color: #2e2e2e;
}

body {
	margin: 0;
	background-color: #eee;
	overflow-x: hidden;
	display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
	flex: 1 0 auto;
}

*, *:before, *:after {
	box-sizing: inherit;
}

.site-container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 5em;
    width: 100%;

    @media (max-width: 700px) {
    	padding: 0 10px;
    }
}

.offline-banner {
	position: fixed;
    left: 0;
    right: 0;
    text-align: center;
    padding: 1.5em;
    background-color: orange;
    font-weight: bold;
    color: white;

    span {
		border: 1px solid;
		border-radius: 50%;
		padding: 1px 7px;
		line-height: 0;
		position: relative;
		left: 20px;
    }
}

@import 'header';
@import 'article';
@import 'aside';
@import 'post-list';
@import 'footer';